<th:block layout:decorate="~{layout/bootstraplayout}" layout:fragment="content">
    <!-- Page Content -->
    <div class="container" id="homePage">
        <div class="row">
            <div class="col-lg-12">
                <h2>Home Page</h2>
                <div class="well">
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tempor enim. Vivamus nunc odio, dictum sit amet auctor a, venenatis euismod urna. Donec at auctor neque. Nullam eget nunc ac purus maximus rutrum. Aenean mi dui, iaculis in facilisis faucibus, vehicula at ipsum. Fusce a orci sit amet ante vulputate vehicula. Proin ut velit sit amet mauris placerat lacinia sit amet et justo. Sed quis molestie erat, eu hendrerit magna. Nunc tincidunt tincidunt nisi, pharetra mollis mauris pulvinar ut. Proin in justo magna. Suspendisse vitae ante nunc. Donec sed tincidunt neque. Suspendisse potenti. Mauris lacinia hendrerit dictum. Sed sit amet massa purus. Proin porta, ante in sagittis commodo, tellus turpis ornare ipsum, at aliquet ante arcu at neque.
                	</p>               	
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</th:block>

