<!-- New Role modal -->
<script type="text/javascript">
	$(document).ready(function() {
		$('.newRoleBtn').on('click', function(event) {
			$('.newRoleForm #name').val('');

			$('.newRoleForm #newRoleModal').modal();
		});
	});
</script>

<!-- Edit Role modal-->
<script type="text/javascript">
	$(document).ready(function() {
		$('.editRoleBtn').on('click', function(event) {
			event.preventDefault();
			var href = $(this).attr('href');
			
			$.get(href, function(role) {
				$('.editRoleForm #id').val(role.id);
				$('.editRoleForm #name').val(role.name);
			});
			
			$('.editRoleForm #editRoleModal').modal();
		});
	});
</script>

<!-- New User modal -->
<script type="text/javascript">
	$(document).ready(function() {
		$('.newUserBtn').on('click', function(event) {
			$('.newUserForm #username').val('');
			$('.newUserForm #email').val('');
			$('.newUserForm #password').val('');

			$('.newUserForm #newUserModal').modal();
		});
	});
</script>

<!-- Edit User modal-->
<script type="text/javascript">
	$(document).ready(function() {
		$('.editUserBtn').on('click', function(event) {
			event.preventDefault();
			var href = $(this).attr('href');
			
			$.get(href, function(user) {
				$('.editUserForm #id').val(user.id);
				$('.editUserForm #username').val(user.username);
				$('.editUserForm #email').val(user.email);
			});
			
			$('.editUserForm #editUserModal').modal();
		});
	});
</script>